body {
  margin: 0;
}

#test {
  font-family: sans-serif;
  color: "#242021";
}

#test h1 {
  font-family: sans-serif;
  font-size: 48px;
  font-weight: 600;
}

#test h2 {
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
}

#test blockquote {
  border-left: 5px #f6f6f6 solid;
  padding-left: 10px;
  font-size: 20px;
  line-height: 32px;
}

#test pre {
  background-color: #f6f6f6;
  padding: 10px 20px;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 32px;
}

#test p {
  letter-spacing: -0.003em;
  line-height: 32px;
  font-size: 20px;
  font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
}

#test strong {
  font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 700 !important;
  font-style: normal;
  font-size: 20px;
  line-height: 32px;
}

#test em {
  font-style: italic;
}

#test li {
  font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 20px;
  line-height: 32px;
}

#test img {
  height: 200px;
}

.ql-align-center {
  width: 100%;
  display: flex;
  justify-content: center;
}